body{
background-color: #495867;
}
h1{
    font-size: 1.5em;
    text-align: center;
    padding-top: 50px;
    color: #FAEDCD
}
div{
    text-align: center;
    padding-top: 10px;
    color: #D4A373
}