<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <title>{% block title %}BASE{% endblock %}</title>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
    <nav class="navbar fixed-top navbar-expand-lg py-4 navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/#about">About<span class="sr-only"></span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'Hydraulic' %}">Hydraulic Oils</a>
          <a class="dropdown-item" href="{% url 'igo' %}">Industrial Gear Oils</a>
          <a class="dropdown-item" href="{% url 'mcw' %}">Machineway Oils</a>
            <a class="dropdown-item" href="{% url 'rco' %}">Refrigaration Compressor Oil</a>
            <a class="dropdown-item" href="{% url 'spo' %}">Splindle Oil</a>
            <a class="dropdown-item" href="{% url 'tfo' %}">Transformer Oil</a>
            <a class="dropdown-item" href="{% url 'tur' %}">Turbine Oil</a>
            <a class="dropdown-item" href="{% url 'wro' %}">Wireope Oil</a>
            <a class="dropdown-item" href="{% url 'ing' %}">Industrial Grease</a>
            <a class="dropdown-item" href="{% url 'ao' %}">Automative Oils</a>
            <a class="dropdown-item" href="{% url 'ago' %}">Automative Gear Oil</a>
            <a class="dropdown-item" href="{% url 'rdc' %}">Radiator Coolant</a>
        </div>
      </li>


   <form class="d-flex">
      <a class="nav-link" href="{% url 'contact_us' %}">Enquiry<span class="sr-only"></span></a>
    </form>
      </ul>
      <ul class="navbar-nav ms-auto">
       <span class="navbar-text ">
         <a href="{% url 'contact_us' %}"}> <li>Email us at: indolube@gmail.com</li></a>
      </span>
          </ul>
  </div>

</nav>  {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    </body>
</html>